tr.sonata-ba-list-field-header {
    background-image: -moz-linear-gradient(-90deg, #F8F8F8, #E2E2E2);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F8F8F8), to(#E2E2E2));
}

select[multiple="multiple"] {
    height: 300px;
}

select[name*='[month]'],
select[name*='[day]'],
select[name*='[value][month]'],
select[name*='[value][day]'],
select[name*='[start][month]'],
select[name*='[end][month]'],
select[name*='[start][day]'],
select[name*='[end][day]'] {
    width: 50px !important;
}

select[name*='[value][year]'],
select[name*='[end][year]'],
select[name*='[start][year]'],
select[name*='[year]'] {
    width: 70px !important;
}


#headerMenu {
    float: right;
    color: white;
    font-size: 12px;
    margin-top: 5px;
}

#headerMenu a {
    border-right: 1px solid #666;
    margin-right: 4px;
    padding-right: 6px;
}

#headerMenu a.last {
    border: none;
}

table th + th, table td + td {
    border-left: none;
}

div.sonata-ba-view {
    width: 800px;
    margin: 0 auto;
}

div.sonata-ba-form div.other-field {
    margin-left: 250px;
}

div.sonata-ba-form div.other-field input,
div.sonata-ba-form div.other-field select,
div.sonata-ba-form div.other-field textarea {
    width: 150px;
}

div.sonata-ba-form div.indented-field {
    margin-left: 50px;
}

div.sonata-ba-form div.indented-field input,
div.sonata-ba-form div.indented-field select,
div.sonata-ba-form div.indented-field textarea {
    width: 350px;
}

div.sonata-ba-form div.indented-field input[type="checkbox"],
div.sonata-ba-form div.indented-field input[type="radio"] {
    width: auto;
}

div.sonata-ba-view tr.indented td.show-heading {
    text-align: right;
}

div.sonata-ba-form form.form-stacked div.sonata-ba-collapsed-fields {
    padding-left: 25px;
}

a.sonata-ba-collapsed small {
    font-size: 12px;
    color: #0069D6;
}

.help-inline, .help-block {
    color: #AAAAAA;
    font-size: 14px;
    line-height: 18px;
    clear: both;
}
div.pagination {
    float: right;
    margin: 0;
}

td.sonata-ba-list-field-action a.btn {
    line-height: 16px;
}
td.sonata-ba-list-field-action a.btn img {
    float: left;
    margin-right: 5px;
}

.sonata-bc fieldset.filter_legend {
    border: none;
    margin-bottom: 10px;
    font-weight: normal;
}

.sonata-bc fieldset.filter_legend legend {
    font-size: 14px;
}

div.filter-container,
div.summary-field-container
{
    margin: 5px 0;
    padding: 3px 6px;
}
tr.filter-container.active {
    background-color: #FAFF9E;
}

a.action-link {
    padding: 2px 0 0 18px;
    margin-right: 8px;
    background: no-repeat center left;
}

a.delete_link {
    background-image: url(../famfamfam/delete.png);
}
a.edit_link {
    background-image: url(../famfamfam/page_white_edit.png);
    padding-left: 20px;
}
a.view_link {
    background-image: url(../famfamfam/magnifier.png);
}

.container-fluid > .sonata-ba-filter.sidebar {
    right: 20px;
    left: auto;
}

.container-fluid > .sonata-ba-list.content {
    margin-right: 240px;
}

table.bordered-table td,
table.bordered-table th {
    border-left: none !important;
}

.sonata-bc fieldset.filter_legend table {
    margin: 0 0 10px 0;
}