tr.sonata-ba-list-field-header {
    background-image: -moz-linear-gradient(-90deg, #F8F8F8, #E2E2E2);
}


div.container-fluid {
}

select[multiple="multiple"] {
    height: 300px;
}

fieldset.filter_legend {
}


legend.filter_legend {
}

legend.filter_legend:hover {
}

div.filter-container {
    float: left;
    margin: 4px 6px;
}

#headerMenu {
    float: right;
    color: white;
    font-size: 12px;
    margin-top: 5px;
}

#headerMenu a {
    border-right: 1px solid #666;
    margin-right: 4px;
    padding-right: 6px;
}

#headerMenu a.last {
    border: none;
}


table.filter-container-table {
    border: none;
}

table th + th, table td + td {
    border-left: none;
}

fieldset.filter_legend {
    border: none;
}