{% if admin.isGranted('DELETE', object) and admin.hasRoute('delete') %}
    <a class="action-link delete_link" href="{{ admin.generateObjectUrl('delete', object) }}" title="{% trans from 'SonataAdminBundle' %}action_delete{% endtrans %}">
        Delete
    </a>
{% endif %}