<a href="{{ admin.generateUrl('unapprove', {'id': admin.id(object)}) }}" class="add_link" title="Un-Approve">
    <img src="{{ asset('bundles/sonataadmin/famfamfam/exclamation.png') }}" alt="Un-Approve" />
</a>