{% if admin.hasRoute('show') %}
    <a class="action-link view_link" href="{{ admin.generateObjectUrl('show', object) }}" title="{% trans from 'SonataAdminBundle' %}action_show{% endtrans %}">
        <i class="icon-search-alt"></i> View
    </a>
{% endif %}