{% if admin.isGranted('EDIT', object) and admin.hasRoute('edit') %}
    <a class="btn small edit_link" href="{{ admin.generateObjectUrl('edit', object) }}" title="{% trans from 'SonataAdminBundle' %}action_edit{% endtrans %}">
        <img src="{{ asset('bundles/sonataadmin/famfamfam/page_white_edit.png') }}" alt="{% trans from 'SonataAdminBundle' %}action_edit{% endtrans %}" /> Edit
    </a>
{% endif %}